<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.board.checkers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="edu.game.checkers.core.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.game.checkers.core.OptionsActivity"
            android:screenOrientation="portrait" />

        <activity android:name="edu.game.checkers.core.GameActivity"
            android:screenOrientation="portrait" />

        <activity android:name="edu.game.checkers.core.SelectTypeActivity"
            android:screenOrientation="portrait" />
        
        <activity android:name="edu.game.checkers.core.LocalGameActivity"
            android:screenOrientation="portrait" />
        
        <activity android:name="edu.game.checkers.core.NetworkGameActivity"
            android:screenOrientation="portrait" />

        <activity android:name="edu.game.checkers.core.NetworkActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <service android:name="edu.game.checkers.core.NetworkService" />

    </application>

</manifest>